* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}

p {
  font-size: 1rem;
}
